# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3
*.log

# Environments
.env
venv/
myenv/
env/
ENV/
*.env

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Static and media (user uploads)
staticfiles/
media/
Media/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo

# Compiled files
*.so

# Backup files
*.bak
*.swp
*.swo

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/

# Node
node_modules/

# Other
*.sqlite3